
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim</title>
    <!-- Bootstrap CSS ekleyin -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <h2 class="text-center mb-4">İletişim Bilgileri</h2>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <p><strong>Ad:</strong> Yunus Emre Maral</p>
                <p><strong>Telefon:</strong> 0535 063 6226 </p>
                <p><strong>Adres:</strong>İzmit/Kocaeli</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <h4 class="text-center mb-3">Sosyal Medya</h4>
                <div class="d-flex justify-content-around">
                    <a href="https://github.com/ImGozluklu" class="btn btn-primary" target="_blank">Github</a>
                    <a href="https://www.instagram.com/yunus41emree/" class="btn btn-danger" target="_blank">Instagram</a>
                    <a href="https://www.linkedin.com/in/yunus-emre-maral-b57519272/" class="btn btn-info" target="_blank">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS ve jQuery ekleyin -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <br />
    <br />
    <br />
    <br />

</body>
</html>
